/* HW 11 style file */
h1 {

    font-size: 40px;
    color: rgb(22, 173, 223);
}
.navbar ul {
  margin-left: 75%;
  background-color: rgb(31, 196, 201); 
  color: black;
  
  }

  .box {
    min-height: 50px;
    padding: 5px;
    margin: 5px;
    font-weight: 800;
    color: #fff;
  }
  h3 {

    color: rgb(22, 173, 223);
}

.button{
    /* Put a 15-pixel margin at the bottom of the heading. */
    margin-bottom: 15px;
    /* This will color the heading font white. */
    color: black;
    /* The background of the heading element will now be black. */
    background-color: rgb(31, 196, 201);
  
}
/* #images {
  padding-top: 15px;
  text-align: center;
} */
